<!doctype HTML>
<html>
    <head></head>
    <body>
        <ul>
            <li> <%= languages[0] %> </li>
            <li> <%= languages[1] %> </li>
            <li> <%= languages[2] %> </li>
        </ul>
    </body>
</html>
